{
  presets: [
    ['@babel/preset-env', {
      modules: 'commonjs',
      useBuiltIns: 'usage',
      targets: {
        node: '6.10',
      },
    }]
  ],
  env: {
    test: {
      presets: [
        '@babel/preset-react'
      ],
      plugins: [
        './src/babel',
      ],
    },
  },
}
